.featured {
  max-width: 400px;
  height: 200px;
  background-color: #e0e0e0;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  max-width: 400px;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.info h4 {
  margin: 4px 0;
  text-transform: uppercase;
}
.info p {
  color: #777;
}
.actions {
  display: flex;
  margin-top: 24px;
}
.actions a {
  color: #fff;
  background: #f0d01b;
  padding: 16px 24px;
  text-decoration: none;
}

@media screen and (min-width: 578px) {
  .featured {
    width: 400px;
    height: 400px;
    background-color: #e0e0e0;
  }
}
